<%- model_class = Show -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @show.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @show.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @show.active %></dd>
  <dt><strong>
      <%= model_class.human_attribute_name(:seasons) %>
      and
      <%= model_class.human_attribute_name(:chapters) %>:
  </strong></dt>
  <dd>
      <ul>
          <% @show.seasons.each do |season| %>
              <li>
                  <%= season.number %>
                  <ul>
                      <% season.chapters do |chapter| %>
                          <li><%= chapter.number %></li>
                      <% end %>
                  </ul>
              </li>
          <% end %>
      </ul>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              shows_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_show_path(@show), :class => 'btn btn-default' %>
<%= link_to t('.crawl', :default => t("helpers.links.crawl")),
            crawl_show_path(@show), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              show_path(@show),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
